.CardWrapperText {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.Title {
    font-weight: 400;
    font-size: var(--font-size-x);
    line-height: 17px;
    color: var(--pizza-card-title);
    margin-bottom: 5px;
}
.Description {
    font-weight: 400;
    font-size: var(--font-size-s);
    line-height: 14px;
    color: #828282;
}
.Cardblock {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background: var(--pizza-card-bg);
    box-shadow: var(--pizza-card-shadow);
    border-radius: 14px;
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all .15s ease;
}

.Container {
    padding-top: 3px;
}

.page-title {
    text-align: center;
}

.slider img {
width: 100%;
height: 400px;
}
.slider-container {
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}

.prev-button {
left: auto
}

.next-button {
right: auto;
}

.slider {
display: flex;
transition: transform 0.5s ease-in-out;
}
